* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    height: 100vh;
    width: 100cw;
    background-color: #faebd7;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
}
.navbarLinks ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.navbarLinks li a {
    padding: 1rem;
    text-decoration: none;
}
.navbarLinks li:hover {
    background-color: #c3c3c3;
}
.toggleButton {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    top: 0.75rem;
    right: 1rem;
}
.toggleButton .bar {
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: #000;
}
@media screen and (max-width: 600px) {
    .toggleButton {
        display: flex;
    }
    .navbarLinks {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
    }
    .navbarLinks  ul {
        width: 100%;
        flex-direction: column;
    }
    .navbarLinks {
        text-align: center;
    }
    .navbarLinks li a {
        padding: 0.5rem 1rem;
    }
    .navbarLinks:active {
        display: flex;
    }
}
.timetable {
    height: 80vh;
    width: 80vw;
    background-color: #c3c3c3;
    margin: 0 auto;
}
.table-style {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}
thead {
    width: 100%;
}
.days {
    width: 12.5vw;
}
/* thead {
    border-collapse: collapse;
    border: 3px solid black;
    background-color: aqua;
} */
th  {
    font-size: 1.5rem;
    height: 7vh;
    border: 3px solid black;
    border-collapse: collapse;
    background-color: aqua;
}

.tbody-size td {
    
    border: 3px solid black;
    border-collapse: collapse;
}
td:hover {
    background-color: blueviolet;
}
.hours {
    text-align: center;
    font-weight: bold;
}
.hours:hover {
    background-color: aquamarine;
}